.header {

	#logo {
		@include bp(custom, 0, 620px) {
			margin-top: 20px;
			width: 85%;
			display: inline-block;
		}

		a {
			font-size: 40px;
			color: white;
			display: inline-block;

			.home & {
				color: $green-blue;
			}

			@include bp(custom, 0, 1200px) {
				font-size: 60px;
			}
			@include bp(custom, 0, 1050px) {
				font-size: 50px;
			}
			@include bp(custom, 0, 740px) {
				font-size: 40px;
			}

			@include bp(custom, 0, 620px) {
				font-size: 35px;
			}
		}
	}
	.header-inner {
		@include bp(custom, 0, 620px) {
			padding: 0 15px;
		}
	}
}

#primary-menu {

	a {
		color: white;

		.home & {
			color: $green-blue;
		}
	}
	.current-menu-item a,
	.sfHover a {
		border-color: white;

		.home & {
			border-color: $green-blue;
		}
	}

	> li > a {
		padding-top: 20px;
	}
}

#mobile-primary-menu {
	margin: 0 !important;
}

#mobile-nav {
	color: $green-blue;
}

.custom-background-content {

	h2,
	h3 {
		color: white;

		.home & {
			color: $green-blue;
		}
	}
}

body:not(.home) {

	.container {
		margin-top: 0;
	}

	.custom-background-wrapper {
		max-height: 150px;
	}
}

body.page-portfolio {

	.custom-background-wrapper {
		max-height: 250px;
	}
}
